@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');



*, 
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

img {
    max-width: 100%;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem 17rem;

    @media screen and (max-width: 750px) {
        padding-bottom: 1rem;
    }

    .main {

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                height: 27px;
            }

            .header__btn {
                a {
                    color: #188fff;
                    text-transform: capitalize;
                }
            }
        }

        .section__main {
            max-width: 1000px;
            margin: 2rem auto 0;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            @media screen  and (max-width: 750px){
                align-items: center;
                justify-content: center;
            }

            .section__main--left {
                margin-top: 3rem;
                max-width: 590px;
                margin-right: 20px;

                @media  screen and (max-width: 750px) {
                    display: none;
                }

                h1 {
                    font-size: 21px;
                    font-weight: 700;
                    padding: 20px 0;
                }

                p {
                    font-size: 21px;
                    display: block;
                }
            }

            .section__main--right {
                width: 360px;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
                text-align: center;
                border-radius: 10px;

                img {
                    height: 27px;
                    margin-top: 28px;
                }

                .under-sec {
                    margin: 3.94118rem 0;
                    padding: 0 1.41176rem;

                    @media screen and (max-width: 750px) {
                        margin: 2rem;
                    }

                    h1 {
                        font-size: 1.17647rem;
                        margin-top: .82353rem;
                        font-weight: 700;
                    }

                    p {
                        display: block;
                        font-size: 0.82353rem;
                        line-height: 1rem;
                        margin-top: .3529rem;
                    }

                    form {
                        margin-top: 3.58824rem;
                        margin-bottom: 21px;

                        .form-row {

                            input {
                                min-width: 100%;
                                font-size: 14.5px;
                                height: 1.88235rem;
                                margin-top: .41176rem;
                                background: transparent;
                                text-transform: capitalize;
                                border: 0;
                                border-bottom: 1px solid rgb(109, 109, 231);
                                margin-bottom: 20px;
                                outline: none;

                                @media screen and (max-width: 750px) {
                                    font-size: 12px;
                                }
                            }
                        }

                        .button-container {

                            button {
                                width: 100%;
                                padding: .64706rem 0;
                                font-size: .9411rem;
                                line-height: 1rem;
                                height: 2.4rem;
                                border-radius: 1.2rem;
                                outline: none;
                            }

                            .main  {
                                border: 1px solid #188fff;
                                background: #188fff;
                                color: #fff;
                                margin-bottom: 20px;
                                opacity: 0.9;

                                &:hover {
                                    opacity: 1;
                                }
                            }

                        }

                        .helper-links-container {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 20px;

                            @media screen and (max-width: 435px) {
                                font-size: 13px;
                            }

                            .for {
                                #checkbox {
                                    background: transparent!important;
                                    margin-right: 5px;
                                }

                                label {
                                    color: #188fff;
                                }
                            }

                            .forget-link {
                                a {
                                    text-decoration: none;
                                    color: #188fff;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }

                            }
                        }

                        .bottom {
                            margin-bottom: 18px!important;

                            .crt {
                                border: 1px solid #188fff;
                                background: transparent;
                                font-weight: 700;
                                color: #188fff;

                            }
                        }

                        p {
                            margin-bottom: 18px;
                        }

                        .google button{
                            border: 1px solid grey;
                            background: transparent;
                            font-weight: 700;
                            text-transform: capitalize;

                            .fab {
                                color: red;
                            }
                            
                            &:hover {
                                border: 1px solid #188fff;
                            }
                        }

                }
            }
        }
    }
}

}

.attribution {
    margin: 0;
    width: 100%;
    background: #fff;
    text-align: center;

    a {
        font-size: 12px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        font-size: 12px;
    }
}